{% extends "base.html" %}

{% block title %} Fatty McFat What is BMI? {% endblock %}

{% block page_content %}
    <div class = 'container'>
        <div class = 'page-header'>
            <h1> What is BMI? </h1>
        </div>
        <p>
            Body Mass Index (BMI) is a person’s weight in kilograms (or pounds) divided by the square of height in meters (or feet). 
            A high BMI can indicate high body fatness. BMI screens for weight categories that may lead to health problems, but it 
            does not diagnose the body fatness or health of an individual.
        </p>
        <br>
        <h2>
            How is BMI Used?
        </h2>
        <p>
            BMI can be a screening tool, but it does not diagnose the body fatness or health of an individual. To determine if BMI is 
            a health risk, a healthcare provider performs further assessments. Such assessments include skinfold thickness 
            measurements, evaluations of diet, physical activity, and family history.
        </p>
        <br>
        <h2>
            Why is BMI used to measure overweight and obesity?
        </h2>
        <p>
            Because calculation requires only height and weight, BMI is an inexpensive and easy tool. 
        </p>
        <br>
        <h2>
            What are other ways to assess excess body fatness besides BMI?
        </h2>
        <p>
            Other methods to measure body fatness include skinfold thickness measurements (with calipers), underwater weighing, 
            bioelectrical impedance, dual-energy x-ray absorptiometry (DXA), and isotope dilution. However, these methods are not 
            always readily available, and they are either expensive or need to be conducted by highly trained personnel. Furthermore, 
            many of these methods can be difficult to standardize across observers or machines, complicating comparisons across studies 
            and time periods.
        </p>
        <br>
    </div>
{% endblock %}

