{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Fatty McFat {% endblock %}

{% block page_content %}
<div class = 'container'>
    <div class = 'page-header'>
        <h1> Calculate your BMI here </h1> 
        <p> Go ahead.  No one's judging apart from this website :) </p>
    </div>
    <br>
    <div class = "container">
        <div class = "row">
            <div class = "col-md-7 row">
                {{ wtf.quick_form(form) }}
            </div> 
            <div class = "col-md-1 row"> </div>
            <div class = "col-md-4 row">
                {% if weight == None and height == None and name == None %}
                    <h2> Enter your body weight and height to get started! </h2>
                {% else %}
                    <h2> Well {{ name }}... </h2>
                    <h3> 
                        Your BMI is: <strong> {{ status }} </strong> 
                    </h3>   
                    <br>
                    <p> This website's concensus: <strong> {{ msg }} </strong> </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}